*{
    padding: 0;
    margin: 0;
}

:root {
    --fundo-principal: white; 
    --roxo-secundario1: rgba(54, 25, 138, 1); 
    --roxo-escuro1: rgba(41, 17, 110, 1); 
    --roxo-escuro2:  rgba(27, 0, 102, 1);
}

header{
    padding: 2%;
}

#botao-header{
    gap: 1%;

}
    
